###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.au3 text eol=crlf